body {
    margin: 0;
    height: 100vh; /* Задает высоту на весь экран */
    background-image: url('https://github.com/valery22233445566778899/-Quiz-/blob/main/res/back1.png?raw=true');
    background-size: cover; /* Масштабирует изображение, чтобы оно заполнило весь фон */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Не повторяет изображение */
    background-color: #AECAE8;
}

.logo {
    display: flex;
    margin: 0;
    background-image: url('https://github.com/valery22233445566778899/-Quiz-/blob/main/res/logoDivan.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500%;
    width: 500px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #6F8093;
    height: 70px;
    padding: 0 20px;
}

.about-text {
    margin-left: auto;
    color: #CADAEB;
}

.start-button {
    display: flex;
    background-color: #6F8093;
    height: 70px;
    width: 242px;
    border-radius: 7px;
    color: #000000;
    font-size: 24px;
    text-align: center;
    margin: auto;
    margin-top: 150px;   
}

.start-button-text {
    margin: auto;
    color: #CADAEB;
}

.info-text {
    text-align: center;
    font-size: 40px;
    color: #606D7C;
}

.info-head {
    text-align: center;
    font-size: 55px;
    color: #465565;
}

.sdrfgn {
    text-align: center;
    
}